@font-face {
  font-family: 'Roboto'
  src: url('fonts/Roboto_Mono/RobotoMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto_Mono/RobotoMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto_Mono/RobotoMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
html {
	height:100%;
}

body {
	height:100%;
	margin: 0;
	font: 400 normal 16px/26px 'Roboto';
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 1 auto;
}
p {
	margin: 0;
	letter-spacing: 0.05em;
	opacity: 0.6;
}
.container {
	width: 1140px;
	margin: 0 auto;
}
footer {
	height: 502px;
	background: #316099;
	color: #fff;
	padding: 91px 0 64px;
	flex: none;
}
hr {
    border-color: white;
    opacity: 0.4;
}
button {
	background: #5a98d0;
	color: #fff;
	height: 26px;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	font: 400 normal 16px/26px 'Roboto';
	letter-spacing: 0.04em;
}
footer button {
	width: 237px;
	height: 56px;
	float: right;
	margin-top: 74px;
}
footer p {
	width: 490px;
	margin-bottom: 96px;
}

footer .heading {
	font: 400 normal 36px/46px 'Roboto';
	opacity: 1;
	margin-bottom: 32px;
}

footer .copy {
	opacity: 0,4;
	margin: 0;
}

footer ol {
	margin: 64px 0;
	display: flex;
	justify-content: space-between;
	padding-left: 17px;
	}

footer li {
	flex: 0 0 316px;
	padding-left: 25px;
	letter-spacing: 0.05em;
}	

@media screen and (max-width: 1200px) {
	.container {
		width: auto;
		margin: 0 30px;
		}
	}

@media screen and (max-width: 1080px) {
	footer {
		height: auto;
	}
	footer p {
		width: 336px;
		padding: 0;
		margin: 47px 308px 47px 124px;
		} 
	
	footer ol {
		display: block;
		margin-left: 124px;
		}
		
	footer li{
		 margin-top: 25px;
	}
	footer .copy {
		margin: 0 124px;
		}

	footer button {
		width: 133px;
		height: 31px;
		margin-right: 124px;
	}
    }
  
	 
@media screen and (max-width: 500px) {
	.container {
	display:flex;
	flex-direction: column;
	justify-content: center;

	width: 375px;
	padding:0;
	
}
footer .heading {
	font: 400 normal 24px/28px 'Roboto';
	opacity: 1;
	margin-top: 18px;
	margin-bottom: 65px;
	width: 343px;
	text-align: center;
	
}
footer p {
	width: 343px;
	top: 3100px;
	margin-left: 16px;
	margin-right: 16px;
	
	font: 400 normal 16px/26px 'Roboto';
	text-align: center;
}
footer button {
	width: 108px;
	height: 31px;
	order:3;
	margin-left: 132px;
	margin-right: 132px;
	margin-bottom: 40px;
}
footer ol {
	  display: block;
	  margin-left: 16px;
	  font: 400 normal 16px/18.75px 'Roboto';
	  margin-top: 32px;
  }	
  footer li{
	 margin-top: 17px;
 }
 footer .copy {
	margin-left: 16px; 
	margin-bottom: 32px;
	width: 343px;
	height: 26px;
 }
 
}