 @font-face {
	font-family: 'Lobster-Regular';
	src: url('Lobster-Regular.woff2') format('woff2');
}

@keyframes around1 {
	 0%   { left: 50px; top: 50px;}
     25%  { left: 870px; top: 50px;}
     50%  { left: 870px; top: 550px;}
     75%  { left: 50px; top: 550px;}
     100% { left: 50px; top: 50px;}
}
@keyframes around2 {
	/*from {transform: rotate(0deg) translateX(300px) rotate(0deg); }
	to {transform: rotate(360deg) translateX(300px) rotate(-360deg); }*/
	 0%   { left: 870px; top: 50px;}
     25%  { left: 870px; top: 550px;}
     50%  { left: 50px; top: 550px;}
     75%  { left: 50px; top: 50px;}
     100% { left: 870px; top: 50px;}
	 }
@keyframes around3 {
	/*from {transform: rotate(0deg) translateX(300px) rotate(0deg); }
	to {transform: rotate(360deg) translateX(300px) rotate(-360deg); }*/
	 0%   { left: 870px; bottom: 50px;}
     25%  { left: 50px; bottom: 50px;}
     50%  { left: 50px; bottom: 550px;}
     75%  { left: 870px; bottom: 550px;}
     100% { left: 870px; bottom: 50px;}
}
@keyframes around4 {
	/*from {transform: rotate(0deg) translateX(300px) rotate(0deg); }
	to {transform: rotate(360deg) translateX(300px) rotate(-360deg); }*/
	 0%   { left: 50px; bottom: 50px;}
     25%  { left: 50px; bottom: 550px;}
     50%  { left: 870px; bottom: 550px;}
     75%  { left: 870px; bottom: 50px;}
     100% { left: 50px; bottom: 50px;}
}
html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	font: normal 16px/24px 'Lobster-Regular';
	margin: 0;
}
.container {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-image: radial-gradient(lightblue 60%, white);
	position: relative;
	align-items: center;
	/*padding: 10px;*/
	/*width: 800px;*/
	height: 700px;
}
p, h1, h4 {
	margin: 10px;
	background: white;
	border-radius: 10px;
	width: 280px;
	padding: 10px;
	transition-timing-funchion: linear;
}
h1, h4 {text-align: center;}
		
@media screen and (min-width: 790px) {
			.container {
				justify-content: center;
				height: 700px;
				padding: 0;	
			}
            h1, h4 {
				position: relative;
			}
			.first {
				top: 50px;
				left: 50px;
				position: absolute;
		
			}
			.second {
				top: 50px;
				right: 50px;
				position: absolute;
			
			}
			.third {
				bottom: 50px;
				right: 50px;
				position: absolute;
				 
			}
			.fourht {
				bottom: 50px;
				left: 50px;
				position: absolute;
				
			}
	}	
@media screen and (min-width: 1200px) {
			.container {
				width: 100%;
				height: 100%;
				transform-origin: center;
			}
			
			.first {
					position: absolute;
					animation: around1 25s linear infinite;
			}
			.second {
					position: absolute;
					animation: around2 25s linear infinite;
			}
			.third {
					position: absolute;
					animation: around3 25s linear infinite;
			}
			.fourht {
					position: absolute;
					animation: around4 25s linear infinite;
			}
		}
